$fondo-rosa:#e5bdc7;

body{
    background-color: $fondo-rosa;
    overflow-x: hidden;
}

.card-body{
    background-image: linear-gradient(to top, #e5bdc7, #dfa0b0, #e5bdc7);
    border: 1px solid pink;
    ;
}

.card__servicios {
    background-image: linear-gradient(to top, #e5bdc7, #dfa0b0, #e5bdc7);

}
