@mixin marginsvertical($margin-top, $margin-bottom){
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

@mixin paddingshorizontal($padding-left, $padding-right){
    padding-left: $padding-left;
    padding-right: $padding-right;
}


$alineaciones:(
    center:center,
    left:left,
    right:right
);

.container-fluid{
    @include paddingshorizontal(0px,0px)
}

.indexSection{
    /*display: flex;
    justify-content:flex-end;*/
    align-items:center;
    /*height: 672px;*/
    /*background-image: url(../Assets/Images/Fondo-index.jpg);
    background-size: 2000px 700px;*/
    
}
header{
    position: sticky;
    top: 0px;
    border-bottom: solid 2px rgb(0, 0, 0);
    z-index: 3;
    background-color: #343c44;
}

.botonIndex{
    display: flex;
    justify-content: flex-start;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__efecto:hover{
    transform: scale(1.15,1.15);
}

#sectionTienda{
    padding: 30px 0px 30px 10px;
    //display: flex;
    //flex-wrap: wrap;

}

#carrito{
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #e6aab9, #e2bac4, #e6aab9);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;


}

.carritoProd{
    font-family: georgia;
    font-size: 25px;
}

.card__tienda{
    //width: 22rem;
    //height: 42rem;
  // margin: 10px;
  // margin-bottom: 60px;
  margin: 20px 20px;
}

.bordeTienda{
    border-right: 6px double black ;
    border-left: 6px double black ;
    border-bottom: 6px double black ;
    
}