@mixin sizes($widht, $height){
    width: $widht;
    height: $height;
}

.ubicacion__mapa{
    @include sizes(780px, 540px);
    margin: 10px;
    padding: 10px;
}

.slider{
    @include sizes(682px,512px);
    margin-bottom: 30px;
}
.slider__img{
    @include sizes(682px,512px);
}

.logoLms{
    @include sizes(250px,220px);
}

@media only screen and (max-width: 1024px){
    .ubicacion__mapa{
        @include sizes(400px, 400px)
    }
}

.card-title{
    font-size: 18px;
}